<!DOCTYPE html>
<html> 
    <head>
        <title>NCLEX Review</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {%load static%}<link rel="stylesheet" type="text/css" href="{%static 'nxreview/css/styles.css' %}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script>
            $(document).ready(function(){

                
            });

        </script>

    </head>
    
    <body>
        <header class ="center">
            <nav>
                <a href = "{% url 'nxreview:index' %}" class = "nav-link"> Review </a>
                <a href = "{% url 'nxreview:quiz_page' %}" class = "nav-link"> Quiz </a>
            </nav>
        </header>
        
        <main class = "center">
        
            {% block content %} 
            
            {% endblock content %}
            
        </main>
    </body>

</html>