<!DOCTYPE html>
<html> 
    <head>
        <title>NCLEX Review</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {%load static%}<link rel="stylesheet" type="text/css" href="{%static 'nxreview/css/styles.css' %}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script>

            
            class Topic 
            {
                constructor()
                {
                    this.Title = "";
                    this.Text = "";
                }
                
            }

            class Data
            {
                constructor()
                {
                    this.UnusedTopics = new Array();
                    this.UsedTopics = new Array();
                }

                //@return {Topic} - random topic from UnusedTopics list
                GetRandomTopic()
                {
                    var r = Math.floor(Math.random()*this.UnusedTopics.length);
                    var t = this.UnusedTopics[r];
                    
                    //move the topic from Unused list to Used list
                    this.UnusedTopics.splice(r, 1);
                    this.UsedTopics.push(t);

                    t.Text = blurrText(t.Text);
                    return t;
                }
            }

            
            //------------globals-----------------------
            var gData = new Data();
            var gCurrentTopic;

            //----------------------------------------------------
            $(document).ready(function(){
                var t;
                {%for topic in topics %}
                    t = new Topic();
                    t.Title = '{{topic.title}}';
                    t.Text = "{{topic.text|escapejs}}";
                    gData.UnusedTopics.push(t);     
                {%endfor%}

                getNewQuestion();

                $('#new-question-button').click(function() {
                    getNewQuestion();
                });
            });

            function getNewQuestion()
            {
                gCurrentTopic = gData.GetRandomTopic();
                $('#quiz-card-title').html(gCurrentTopic.Title);
                $('#quiz-card-text').html(gCurrentTopic.Text);

                $('#info-card-count').html(gData.UsedTopics.length);
                $('#info-card-total').html(gData.UsedTopics.length + gData.UnusedTopics.length);
            }

            /**
            * @param {Array} existingTitles - Titles present in database 
            * @param {Array} usedTitles - Titles which have already been shown to user
            * @return {String} - title that has not been used
            */
            
            //@param {String} - text that contains blurr markup ([blr]--[/blr])
            //@return {String} - text with blurred words
            function blurrText(text)
            {
                var openTag = -1;
                var closeTag = -1;
                var remainingText = text;
                var newText = "";
                do{
                    openTag = remainingText.indexOf("[blr]", 0);
                    closeTag = remainingText.indexOf("[/blr]", 0);
                    
                    if(openTag != -1)
                    {
                        //get the words before the tag
                        newText += remainingText.slice(0, openTag);
                        //insert the blurr tag
                        newText += "<div class ='in-line-word blurr' onclick='toggleBlurr(this)'>";
                        //get the word to blurr
                        newText += remainingText.slice(openTag+5,closeTag);
                        //end blurr tag
                        newText += "</div>";
                        //everything else after the close tag goes on to next iteration
                        remainingText = remainingText.slice(closeTag+6);
                    }

                }while(openTag != -1);
                newText += remainingText;

                return newText;

            }

            
            function toggleBlurr(divObj)
            {
                divObj.classList.toggle("blurr");
            }

           

        </script>

    </head>
    
    <body>
        <header class ="center">
            <nav>
                <a href = "{% url 'nxreview:index' %}" class = "nav-link"> Review </a>
                <a href = "{% url 'nxreview:quiz_page' %}" class = "nav-link"> Quiz </a>
            </nav>
        </header>
        
        <main>
        
            {% block content %} 
            
            {% endblock content %}
            
        </main>
    </body>

</html>