{% load array_access_filter %}

<h1> Conflicts </h1>

<form action="{%url 'nxreview:conflicts_page' %}" method="post">
{% csrf_token %}
{% for conflict in conflictList %}
    <p>Is "{{conflict.title}}" the same as </p>
    {% for resolution in closeMatchMap|array_access:forloop.counter0 %}
        <input type ="checkbox" id="{{resolution.id}}" name = "{{conflict.id}}" value="{{resolution.id}}">
        <label for = "{{resolution.id}}"> {{resolution.title}} </label>
    {% endfor %}
    <input type ="checkbox" id="none" name="{{conflict.id}}" value="none">
    <label for = "none"> none </label>
{% endfor %}
<br>
<input type="submit" value="Submit">
</form>