{% load array_access_filter %}

<h1> Conflicts </h1>

<form action="{%url 'nxreview:conflicts_page' %}" method="post">
{% csrf_token %}
{% for conflict in conflictTopicList %}
    <p>Is "{{conflict}}" the same as </p>
    {% for resolution in closeMatchMap|array_access:forloop.counter0 %}
        <input type ="radio" id="{{resolution}}"name = "{{conflict}}" value="{{resolution}}">
        <label for = "{{resolution}}"> {{resolution}} </label>
    {% endfor %}
    <input type ="radio" id="none" name="{{conflict}}" value="none">
    <label for = "none"> none </label>
{% endfor %}
<br>
<input type="submit" value="Submit">
</form>