{%extends "nxreview/base_quiz.html" %}

{%block content%}

<div id="main-container">
    
    <div id="left-subpanel">
        <div id="info-card">
            <div id="info-card-title">Info</div>
            <div id="info-card-stats">
                <div id="info-card-count"></div> of <div id="info-card-total"></div>
            </div>
        </div>
    </div>
 
   <div id="middle-subpanel">
        <div id="quiz-card">
            <div id="quiz-card-title"></div>
            <div id="quiz-card-text"></div>
        </div>
    </div>

    <div id="right-subpanel">

    </div>
   
    

</div>



<div id = "new-question-button">
    Next
</div>


{%endblock content%}