header {
   
    text-align: center;
    height: 5rem;
    display:flex;
    align-items: center;
    justify-content: center;

}

html, body, main {
    height: 100%;
}

#main-container{
    display: flex;
    flex-direction: row;
    min-height: 40%;
    width: 100%;
}

#left-subpanel{
    flex-grow: 1;
    width: 25%;
}

#middle-subpanel{
    flex-grow: 1;
    width: 50%;
}

#right-subpanel{
    flex-grow: 1;
    width: 25%;
}

#info-card{
    box-shadow:0px 1px 1px rgba(0,0,0,0.25),0 2px 2px rgba(0,0,0,0.2),0 4px 4px rgba(0,0,0,0.15),0 8px 8px rgba(0,0,0,0.1),0 16px 16px rgba(0,0,0,0.05);
    border-top: solid 1px rgba(0,0,0,0.5);
    text-align: center;
    height: 100px;
    max-width: 30%;
    border-radius: 10px;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#info-card-title{
    font-weight: bold;
}

#info-card-count{
    display: inline;
}

#info-card-total{
    display: inline;
}

.hidden-word {

    display: inline;
    filter:blur(2px);
}

.hidden-word:hover {
    display: inline; 
    filter:blur(0px);
}


#quiz-card{
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 3em auto;
    padding: 1em;
    box-shadow:0px 1px 1px rgba(0,0,0,0.25),0 2px 2px rgba(0,0,0,0.2),0 4px 4px rgba(0,0,0,0.15),0 8px 8px rgba(0,0,0,0.1),0 16px 16px rgba(0,0,0,0.05);
    border-top: solid 1px rgba(0,0,0,0.5);
}

#quiz-card-title{
    color: black;
    font-size: 2em;
}




#new-question-button{
    background-color: blueviolet;
    color: white; 
    border-radius: 10px;
    padding: 1em;
    margin: 2em auto;
    display: flex;
    justify-content: center;
    max-width: 30%;
    cursor: pointer;
}

#review-grid{
    display: grid;

    grid-template-columns: 1fr 1fr;
    row-gap: 2em;
    column-gap: 0.2em;
    align-items: center;
    overflow: hidden;
}

.in-line-word {
    display: inline-block;
    color:blue;
}

.blurr { 

  font-weight: bold;
  transform: scale(-1,-1);
  filter:blur(3px);
  
}

.grid-item {
    border: 1px solid black;
    text-align: center;
    padding: 0.5em;
}

.grid-item:nth-of-type(4n + 3), .grid-item:nth-of-type(4n+3) + *{
     background-color:azure;
}


.grid-item:nth-of-type(4n + 1), .grid-item:nth-of-type(4n+1) + *{
    background-color: paleturquoise;
}


nav {
    width: 100%;
}

.nav-link { 
    text-decoration: none;
    border: 1px solid black;
    border-radius: 1em;
    display: inline-block;
    width: 20%;
    margin: 0.5em;
    padding: 0.2em;

}


@media (max-width: 576px){
    #main-container{
        flex-direction: column;
        align-items: center;
    }

    #info-card{
        max-width: 80%;
        height: 50%;
    }


    #middle-subpanel{
        width: 80%; 
    }
}